/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed by Hossam Hilal ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2023 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    direction: ltr;
    text-align: left;
    overflow-x: hidden;
    color: #202258;
}

.enFont {
    font-family: 'Open Sans';
}

.stopScroll {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

p {
    color: #474747;
    line-height: 35px;
}

.secPadding {
    padding: 50px 0;
    overflow: hidden;
}

/**************************************************************************************************/
/*******************************************    Buttons   ******************************************/
/**************************************************************************************************/

.siteBtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 45px;
    font-size: 15px;
    outline: 0;
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.primaryBtn {
    color: #fff;
    background: #5584FF;
    margin-inline-end: 30px;
    border: 0;
}

.primaryBtn:before,
.primaryBtn:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background: #0b42cd;
    border-radius: 50%;
}

.primaryBtn:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.primaryBtn:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.primaryBtn:hover:before {
    -webkit-animation: cross-left 0.8s both;
    animation: cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.primaryBtn:hover:after {
    -webkit-animation: cross-right 0.8s both;
    animation: cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.outlineBtn {
    color: #5584FF;
    background: transparent;
    border: 1px solid #5584FF;
}

.outlineBtn:before,
.outlineBtn:after {
    content: "";
    height: 500px;
    width: 500px;
    position: absolute;
    top: 150%;
    transition: all 1.4s ease;
    border-radius: 60% 70% 20% 40%;
    background: #5584FF;
}

.outlineBtn:before {
    opacity: 0.2;
    -webkit-animation: water 13s ease-in-out infinite both alternate;
    animation: water 13s ease-in-out infinite both alternate;
}

.outlineBtn:after {
    opacity: 0.5;
    -webkit-animation: water 14s ease-in-out infinite both alternate;
    animation: water 14s ease-in-out infinite both alternate;
}

.outlineBtn:hover:before,
.outlineBtn:hover:after {
    opacity: 1;
    top: -100%;
}

.siteBtn span {
    display: flex;
    align-items: center;
    color: inherit;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.siteBtn:hover span {
    color: #fff;
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-inline-start: auto;
    color: #5584FF;
    padding-inline-start: 5px;
    text-transform: capitalize;
    font-size: 16px;
    background: linear-gradient(0deg, #0b42cd, #0b42cd) no-repeat right bottom / 0 100%;
    transition: background-size 350ms;
}

.linkBtn:hover {
    color: #fff;
    background-size: 100% 100%;
    background-position-x: left;
}

.linkBtn span {
    margin-inline-end: 12px;
}

@media screen and (max-width:768px) {
    .siteBtn {
        font-size: 13px;
        height: 40px;
    }
    
    .primaryBtn {
        margin-inline-end: 15px;
    }

    .linkBtn {
        font-size: 13px;
    }
}


/**************************************************************************************************/
/*******************************************    Header   ******************************************/
/**************************************************************************************************/


.header {
    position: relative;
    padding: 30px 0;
    background: transparent linear-gradient(180deg, #5584FF52 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    height: 100vh;
}

.headerWrapper {
    background-image: url('../images/hand.png');
    background-position: right bottom;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 10px 13.5%;
    box-shadow: 2px 0 35px 0 rgb(24 24 24 / 15%);
    transition: all .4s ease;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu ul {
    display: flex;
    align-items: center;
}

.navMenu li {
    margin: 0 15px;
}

.navMenu a {
    color: #202258;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
}

.navMenu .active a {
    color: #5584FF;
}

.navMenu a::before {
    color: #0b42cd;
    position: absolute;
    top: -1px;
    left: 0px;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    word-break: normal;
    content: attr(data-text);
    transition-timing-function: cubic-bezier(0.39, 0.13, 0.55, 0.88);
    transition-duration: 0.9s;
    transition-property: width;
    will-change: width;
    -webkit-text-fill-color: #0b42cd;
    -webkit-text-stroke: unset;
}

.navMenu a:hover::before {
    width: 100%;
}

.mb {
    display: none;
}

.social {
    margin-inline-start: 40px;
}

.social a {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #5584FF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.social a:hover {
    background: #0b42cd;
    transform: translateY(-5px);
}

.header h1 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 41px;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 520px;
}

.header h1 span{
    display: inline-block;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) rotate(360deg) scale(0);
    animation: revolveDrop 2s forwards;
    transform: skew(10deg, 51deg);
}

.header p, 
.header .flex {
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

.header p.show, 
.header .flex.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.flex {
    display: flex;
    align-items: center;
}

.header .flex {
    padding-top: 40px;
}


@media screen and (max-width:768px) {
    .header {
        padding: 15px 0;
    }    

    .logo {
        max-width: 100px;
    }

    .navMenu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background: #fff;
        z-index: 10;
        transition: all .7s ease-in-out;
        transform: translateX(100%);
    }

    .navMenu.show {
        transform: translateX(0%);
    }

    .navMenu ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navMenu li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #e0fbff;
    }

    .navMenu a {
        display: flex;
        padding: 10px 15px;
        font-size: 13px;
    }

    .headerNav .primaryBtn {
        width: 90px;
        padding: 5px 15px;
        margin-inline-start: auto;
        margin-inline-end: 15px;
    }

    .mb {
        display: block;
    }

    .menuBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 25px;
        height: 18px;
        margin-inline-start: 20px;
    }

    .menuBtn span {
        width: 100%;
        height: 2px;
        background: #5584FF;
    }

    .menuBtn:hover span {
        background: #0b42cd;
    }

    .bodyOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }

    .bodyOverlay.show {
        opacity: 1;
        visibility: visible;
    }

    .header h1 {
        font-size: 30px;
        line-height: 1.6;
        max-width: 390px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.9;
    }
}

/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/

.posts {
    overflow: hidden;
}

.post {
    background: #fff;
    box-shadow: 0px 5px 15px #00000029;
    border-radius: 5px;
    text-align: center;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.post:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: scale(1.1);
}

.postVector {
    height: 220px;
    overflow: hidden;
}

.postVector img {
    transition: all .5s ease-in-out;
}

.post:hover img {
    transform: scale(1.3);
}

.postContent {
    padding: 15px;
}

.post h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 55px;
}

.post p {
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    min-height: 175px;
}


@media screen and (max-width:768px) {
    .post {
        margin-bottom: 30px;
    }
    
    .postVector {
        height: 190px;
    }

    .post h2 {
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 50px;
    }
    
    .post p {
        font-size: 13px;
        min-height: 125px;
    }
}


/**************************************************************************************************/
/**************************************         Services     **************************************/
/**************************************************************************************************/

.services {
    overflow: hidden;
}

.secHead {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.secHead-center {
    align-items: center;
    text-align: center;
}

.secHead h5 {
    background: #5584FF;
    border-radius: 16px 16px 0px 0px;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 10px;
    width: fit-content;
}

.secHead h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    width: fit-content;
    margin: 0;
}

.secHead.secHead-white h2 {
    color: #fff;
}

.secContent {
    padding-top: 20px;
}

.service {
    margin-bottom: 60px;
}

.serviceIcon {
    position: relative;
    margin-bottom: 20px;
}

.serviceIcon::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

.services .col-12:first-of-type .serviceIcon::after {
    background: url('../images/path-1.png') no-repeat;
    background-size: contain;
}

.services .col-12:nth-child(2) .serviceIcon::after {
    background: url('../images/path-2.png') no-repeat;
    background-size: contain;
}

.services .col-12:nth-child(3) .serviceIcon::after {
    background: url('../images/path-3.png') no-repeat;
    background-size: contain;
}

.services .col-12:nth-child(4) .serviceIcon::after {
    background: url('../images/path-3.png') no-repeat;
    background-size: contain;
}

.services .col-12:nth-child(5) .serviceIcon::after {
    background: url('../images/path-1.png') no-repeat;
    background-size: contain;
}

.services .col-12:last-of-type .serviceIcon::after {
    background: url('../images/path-2.png') no-repeat;
    background-size: contain;
}

.serviceIcon img {
    max-width: 115px;
    max-height: 115px;
    margin-inline-start: 40px;
}

.service h3 {
    font-size: 17px;
    font-weight: 600;
}

.service p {
    font-size: 13px;
    line-height: 25px;
    min-height: 75px;
}

.servicesBtns {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {  
    .secHead h2 {
        font-size: 20px;
    }

    .service {
        margin-bottom: 30px;
    }
    
    .serviceIcon img {
        max-width: 60px;
        margin-inline-start: 20px;
    }
    
    .service h3 {
        font-size: 16px;
    }
    
    .servicesBtns .siteBtn {
        padding: 0 13px;
    }
    
    .servicesBtns .primaryBtn {
        margin-inline-end: 5px;
    }
}

@media (min-width:575px) and (max-width:768px) {
    .service h3 {
        min-height: 40px;
    }
}

/******************************************************************************************************/
/****************************************        Info Text     ****************************************/
/*****************************************************************************************************/

.partnersContent {
    position: relative;
    padding: 5% 8%;
}

.partnersContent::before {
    content: '';
    background: transparent linear-gradient(75deg, #892CCF 0%, #37A0F0 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 100%;
    height: 65%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.partnerHead {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.customNav {
    margin-bottom: 60px;
}

.customBtn {
    position: relative;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background .4s ease-in-out;
}

.customBtn:focus,
.customBtn:hover {
    background: #fff;
    color: #0b42cd;
    box-shadow: none;
    outline:0;
    animation: rotate 0.7s ease-in-out both;
}

.customBtn span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customBtn:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.parnterSlider .item {
    padding: 30px 10px;
}

.partner {
    background: #fff;
    height: 250px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


@media screen and (max-width:768px) {
    .customNav {
        margin-bottom: 45px;
    }
    
    .customBtn {
        width: 30px;
        height: 30px;
    }
    
    .partnersContent {
        padding: 8%;
    }

    .partner {
        height: 200px;
    }
}

/******************************************************************************************************/
/****************************************         Footer      ****************************************/
/*****************************************************************************************************/

.featuresContent {
    padding-inline-end: 30px;
}

.siteBtn p {
    font-size: 14px;
}

.features .siteBtn {
    margin-top: 40px;
    padding: 0 50px;
}

.featuresData {
    position: relative;
    height: 100%;
}

.featuresData::before {
    content:'';
    background: url('../images/path-5.png') no-repeat;
    background-size: contain;
    width: 125%;
    height: 125%;
    position: absolute;
    right: -5%;
    top: -15%;
    z-index: -1;
    animation: float 6s ease-in-out infinite;
}

.clientVector {
    width: 70%;
    height: 100%;
    margin: auto;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.statistic {
    background: #fff;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 15px;
    width: 235px;
    padding: 20px;
    text-align: center;
}

.statistic h3 {
    font-size: 40px;
    text-transform: capitalize;
}

.statistic h6 {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    color: #474747;
}

.statistic:first-of-type ,
.statistic:last-of-type {
    margin-inline-start: 10%;
}

.statistic:nth-child(2) {
    margin-inline-start: -10%;
}

.statistic:first-of-type h3 {
    color: #1CBAEA;
}

.statistic:nth-child(2) h3 {
    color: #F17230;
}

.statistic:last-of-type h3 {
    color: #7F56A2;
}


@media screen and (max-width:768px) {
    .featuresContent {
        margin-bottom: 50px;
    }
    
    .statistic {
        padding: 10px;
        width: 200px;
    }
    
    .statistic h3 {
        font-size: 25px;
    }
    
    .statistic:nth-child(2) {
        margin-inline-start: 0%;
    }
}

@media (min-width:575px) and (max-width:768px) {
    .features  .secHead {
        margin-bottom: 15px;
    }

    .features  p {
        margin: 0;
    }

    .features .siteBtn {
        margin-top: 15px;
    }

    .featuresData {
        height: 75%;
        margin-top: 10%;
    }

    .statistic:nth-child(2) {
        margin-inline-start: -10%;
    }
}

/******************************************************************************************************/
/****************************************        VIP Page      ****************************************/
/*****************************************************************************************************/

.empolyee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    min-height: 325px;
    cursor: pointer;
    transition: all .7s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.empolyeevector {
    padding: 3px;
    border-radius: 5px 5px 0 0;
    height: 250px;
    width: 100%;
}

.empolyee:hover .empolyeevector {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    background: transparent linear-gradient(75deg, #892CCF 0%, #37A0F0 100%) 0% 0% no-repeat padding-box;
}

.empolyeevector img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.empolyeeData {
    padding: 10px;
}

.empolyee h3 {
    font-size: 18px;
    text-transform: capitalize;
}

.empolyee h5 {
    color: #474747;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
}

@media (min-width:575px) and (max-width:768px) {
    .empolyeevector {
        height: 150px;
    }
    
    .empolyee {
        min-height: 225px;
    }
    
    .empolyee:hover .empolyeevector {
        width: 120px;
        height: 120px;
    }
}

/******************************************************************************************************/
/****************************************     About     **********************************************/
/*****************************************************************************************************/

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    height: 150px;
    filter: grayscale(100%);
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.client:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

@media screen and (max-width:768px) {
    .client {
        height: 100px;
    }
}

/******************************************************************************************************/
/*******************************************    Add Form  *********************************************/
/*****************************************************************************************************/

.footer {
    color: #fff;
    background: transparent linear-gradient(0deg, #5584FF52 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}

.footerContent {
    background: transparent linear-gradient(75deg, #892CCF 0%, #37A0F0 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    padding: 5% 8%;
}

.footerInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 700;
}

.footer h5 {
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
}

.newsletter {
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsletter-icon {
    width: 66px;
    height: 66px;
    padding: 2px;
    background: #37A0F0;
    border-radius: 50%;
    margin-top: -33px;
    margin-bottom: 15px;
}

.newsletter-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #fff;
    border-radius: inherit;
    font-size: 22px;
}

.newsletter h2 {
    color: #2E3137;
    margin-bottom: 10px;
}

.newsletter p {
    font-size: 13px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 30px;
}

.newsletter form {
    width: 100%;
}

.newsletter-form .primaryBtn {
    margin: 0;
    margin-inline-start: 10px;
    font-size: 13px;
    height: 40px;
}

.newsletter-form .form-control {
    border-radius: 25px;
    height: 40px;
    font-size: 13px;
}

.newsletter-form .form-control::placeholder {
    text-transform: capitalize;
}

.copyright {
    color: #fff;
    border-top: 1px solid #b3b3b3;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 15px;
}

.footerMenu ul {
    display: flex;
    align-items: center;
}

.footerMenu a {
    color: inherit;
    font-size: 13px;
    margin-inline-end: 20px;
}

.copyright p {
    color: inherit;
    font-size: 13px;
    margin: 0;
}

@media screen and (max-width:575px) {
    .footerInfo {
        margin-bottom: 90px;
    }
    
    
}

@media screen and (max-width:768px) {
    .client {
        height: 100px;
    }
    
    .footerContent {
        padding: 8%;
    }
    
    .footer h2 {
        font-size: 24px;
    }

    .newsletter-form {
        flex-direction: column;
    }
    
    .newsletter-form .form-control {
        margin-bottom: 20px;
    }
    
    .copyright {
        flex-direction: column;
    }
    
    .footerMenu {
        margin-bottom: 15px;
    }

    .footerMenu ul {
        flex-wrap: wrap;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||         Animation         ||========================*/
/*==========================||---------------------------||========================*/

@-webkit-keyframes cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes water {
    0% {
        transform: rotate(0);
    }

    20% {
        border-radius: 50% 63% 80% 49%;
    }

    40% {
        border-radius: 60% 64% 64% 48%;
    }

    60% {
        border-radius: 80% 63% 51% 49%;
    }

    80% {
        border-radius: 40% 60% 42% 58%;
    }

    100% {
        border-radius: 62% 67% 70% 53%;
        transform: rotate(180deg);
    }
}

@keyframes water {
    0% {
        transform: rotate(0);
    }

    20% {
        border-radius: 50% 63% 80% 49%;
    }

    40% {
        border-radius: 60% 64% 64% 48%;
    }

    60% {
        border-radius: 80% 63% 51% 49%;
    }

    80% {
        border-radius: 40% 60% 42% 58%;
    }

    100% {
        border-radius: 62% 67% 70% 53%;
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes revolveDrop {
    30% {
        transform: translate3d(0px, -20px, 0px)rotate(0deg) scale(1);
    }

    60% {
        transform: translate(0, 20px) scale(.8) rotate(0deg);
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg);
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@-webkit-keyframes revolveDrop {
    30% {
        transform: translate3d(0px, -20px, 0px)rotate(0deg) scale(1);
    }

    60% {
        transform: translate(0, 20px) scale(.8) rotate(0deg);
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg);
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}